* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background: #eeeeee;
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 1fr;
    grid-template-rows: min-content 1fr min-content;
    font-family: "Open Sans", "Gill Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    min-height: 100vh;
}



header,
footer {
    grid-column: 1/4;
    background: #ff9932;
}

header {
    grid-row: 1
}

main {
    grid-column: 2;

    *+* {
        margin-top: 12px;
    }

}

footer {
    grid-row: 3
}

h1 {
    font-weight: 300;
    font-size: 32px;
}

header nav {

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
    }

    li.selected a {
        color: #ff00e3;
    }

    a {
        color: #0164ff;
        text-decoration: none;

        &:hover {
            color: #0105ff;
        }
    }

}