{% extends "global/simple.jinja" %}

{% block style_extras %}
<link rel="stylesheet" href="assets/article/styles.css">
{% endblock %}

{% block main %}
{{ super() }}
<article class="essay">
    <h1>{{ title }}</h1>
    {{ content }}
</article>
{% endblock %}