<section class="thumbnail-gallery">
    <header>
        <h2>{{ ctx.title }}</h2>
    </header>
    <div>
        {% for img in ctx.images %}
        <img src="{{img}}" />
        {% endfor %}
    </div>
</section>