<section class="thumbnail-gallery">
    <header>
        <h2>{{ title }}</h2>
    </header>
    <div>
        {% for img in images %}
        <img src="{{img}}" />
        {% endfor %}
    </div>
</section>