{% extends "global/simple.jinja" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="assets/page/styles.css">
{% endblock %}


{% block main %}
{{ super() }}
<h1>{{ title }}</h1>
{{ content }}
{% endblock %}