{% macro metatag(name, content) %}
<meta name="{{ name }}" content="{{ content }}" />
{% endmacro %}

{% macro link(name, content) %}
<link rel="{{ name }}" href="{{ content }}" />
{% endmacro %}



{% macro google_analytics() %}
<!-- Insert Google tag code here -->
{% endmacro %}


{% macro md_section(content, meta) %}
{% include 'minima/section.jinja'%}
{% endmacro %}