{% extends "base.jinja" %}

{% macro nav(data, slug) %}
<nav>
    <ul class="{{ data['class'] }}">
        {% for item in data['items'] %}
        <li {% if item.slug is eq slug %}class="selected" {% endif %}>
            <a href="{{ item.slug }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/minima/minima.css">
{% for element in head %}
{{ element }}
{% endfor %}
{% endblock head %}

{% block body %}
<header>
    <h1>Site Genie-rator</h1>
    {{ nav(navdata, slug) }}
</header>
<main>
    {% for element in body %}
    {{ element }}
    {% endfor %}
</main>
<footer>made with Python</footer>
<script src="assets/minima/minima.js"></script>

{% endblock body %}