{% extends "base.jinja" %}

{% import 'macros.jinja' as macros %}

{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/minima/minima.css">

{% for namespace, macro, args in head %}
{{ macros[namespace][macro](*args) }}

{% endfor %}

{% endblock head %}

{% block body %}
<header>
    <h1>Site Genie-rator</h1>
    {% include 'minima/nav.jinja' %}
</header>
<main>
    {% for namespace, macro, args in main %}
    {{ macros[namespace][macro](*args) }}
    {% endfor %}

</main>
<footer>made with Python</footer>
<script src="assets/minima/minima.js"></script>

{% endblock body %}