<nav class="sitenav">
    <ul>
        {% for item in nav %}
        <li {% if item.slug is eq slug %}class="selected" {% endif %}>
            <a href="{{ item.slug }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>