<!DOCTYPE html>
<html lang="en">

<head>
{% include 'global/head.html' %}
<title>j0ono0: {{ document_title }}</title>
  {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% include 'global/site_nav.jinja' %}
    </header>
    <main>
        <h1>{{ title }}</h1>
        {% block main %}
        {{ content }}
        {% endblock %}
    </main>
    <footer>made 2024</footer>
    <script src="assets/global/scripts.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>