{% extends "global/base.jinja" %}

{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="assets/global/styles.css">
{% block style_extras %}{% endblock %}
{% endblock %}

{% block body %}
<header>
    {% include 'global/site_nav.jinja' %}
</header>

<main>
    {% block main %} {% endblock %}
</main>

<footer>
    made 2024
</footer>
<script src="assets/global/scripts.js"></script>
{% block script_extras %} {% endblock %}
{% endblock %}